.Sidebar {
    width: 202px;
    color: var(--text);
    background: var(--bg-header);
}

.Sidebar li {
    font-weight: 400;
}

.Sidebar a.active,
.Sidebar a:hover {
    color: var(--blue);
    background: var(--bg-header-hover);
    border-left: 8px solid var(--blue);
}

.Sidebar a {
    color: var(--text);
    display: block;
    padding: 20px;
    transition: all 0.3s ease;
}
