.Datasources {
    width: 100%;
    height: 100%;
    position: relative;
}

.Datasources .info-box {
    /*todo width*/
    width: 680px
}

/* override style */

.Datasources .select-box {
    right: 0 !important;
    top: 60px !important;
    width: 680px !important;
    z-index: 3000 !important;
    position: absolute !important;
}

.Datasources .kn-multi_select__wrapper___30BEc, .kn-selection_status__status___1qxE9, .kn-search__input___2tyxf, ::placeholder {
    color: var(--white);
    background: var(--charcoal);
    caret-color: var(--white);
}

.Datasources .kn-item__item___kQ2Ll:hover, .kn-item__selected___3tRL6, .kn-selected_item__selected_item___1uiiv:hover {
    color: var(--blue);
    background-color: var(--dark);
}

.Datasources .jss28 {
    fill: var(--blue)
}