.Header {
    color: var(--text);
    background: var(--bg-header);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.Header .title {
    padding: 5px 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.Header .content {
    padding: 12px 20px;
    background: var(--bg-header);
}

.Header .align-right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end
}

.info-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg-general);
    border: none;
    border-radius: 10px;
    color: var(--text);
    padding: 0 20px;
    z-index: 1;
    font-size-adjust: 0.6;
}
