.Header {
    color: var(--white);
    background: var(--charcoal);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.Header .title {
    padding: 5px 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.Header .content {
    padding: 12px 20px;
    background: var(--charcoal);
}

.Header .align-right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end
}

.btn-refresh {
    height: 44px;
    width: 44px;
    border: none;
    cursor: pointer;
    color: white;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 100;
}