.TimeRange {
    height: 100%;
    position: relative;
}

/* override style of date time range picker */

.TimeRange .react-datetimerange-picker {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg-general);
    border: none;
    border-radius: 10px;
    color: var(--text);
    padding: 0 20px;
    z-index: 1;
    font-size-adjust: 0.6;
}

.TimeRange .react-datetimerange-picker__wrapper {
    border: none;
}

.TimeRange .react-datetimerange-picker__inputGroup__input {
    color: var(--text) !important;
    text-align: right;
}

.TimeRange .react-datetimerange-picker__inputGroup__year {
    width: 36px !important;
}

.TimeRange .react-datetimerange-picker__inputGroup__input--hasLeadingZero {
    width: 9px !important;
}

.TimeRange .react-datetimerange-picker__inputGroup__input .react-datetimerange-picker__inputGroup__month {
    width: 18px !important;
}

.react-datetimerange-picker__inputGroup__month, .react-datetimerange-picker__inputGroup__day, .react-datetimerange-picker__inputGroup__hour, .react-datetimerange-picker__inputGroup__minute, .react-datetimerange-picker__inputGroup__second {
    width: 18px !important;
}

.TimeRange .react-datetime-picker__inputGroup__divider {
    width: 8px;
}

.TimeRange .react-datetimerange-picker__range-divider {
    width: 16px;
    height: 50%;
    align-self: center;
    text-align: center;
}
