.i-reload {
    padding: 0;
    animation: spin 1300ms infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.glow {
    animation: glowing 4000ms infinite;
}

@keyframes glowing {
    25% {
        color: var(--blue);
        text-shadow: 0 0 5px var(--blue);
    }
}

.small-text {
    padding: 4px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size-adjust: 0.4;
}

.live-text {
    padding: 2px 0 0 8px;
}