@import url('https://code.cdn.mozilla.net/fonts/fira.css');

* {
    font-family: 'Fira Mono', monospace;
    /*blues*/
    --blue: #55c8f0;
    --dark-blue: #275889;

    /*yellow*/
    /*--blue: #ffe53d;*/
    /*--dark-blue: #6e7377;*/

    --bg-chart: #0e1317;
    --bg-general: #1d262b;
    /*todo name*/
    --bg-general-2: #23272a;
    --bg-header: #151b20;
    --bg-header-hover: #11171b;
    --text: #dee5ec;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    background: var(--bg-general-2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}